# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# database
data

# coverage
server/coverage

# Exclude file contents within the uploads directory
/server/uploads/team/picture/*
/server/uploads/contribution/abstract/*
/server/uploads/submission/zipfolder/*
/server/uploads/submission/compiledpdf/*
/server/uploads/submission/diffpdf/*

# Include specific files within the uploads directory
!/server/uploads/team/picture/team-picture-default.png
